[submodule "test/runit"]
	path = test/runit
	url = https://gitlab.com/RoboticsHardwareSolutions/rlibs/runit.git
[submodule "rnode"]
	path = rnode
	url = https://gitlab.com/RoboticsHardwareSolutions/rlibs/rnode.git
